<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <exm>
      <eds>
        <dispatchProvider defaultProvider="default">
          <patch:attribute name="defaultProvider">Fix328606</patch:attribute>
          <providers>
            <add name="Fix328606" type="Sitecore.Support.EDS.Providers.SparkPost.Dispatch.DispatchProvider, Sitecore.Support.328606">
              <param ref="exm/eds/connectionPoolManager"/>
              <param ref="exm/eds/environmentIdentifier"/>
              <param ref="exm/eds/configurationStore"/>
              <param desc="returnPath">bounce@spe.sitecoremail.com</param>
            </add>
          </providers>
        </dispatchProvider>
      </eds>
    </exm>
  </sitecore>
</configuration>