<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <pipelines>
          <SendEmail>
              <processor type="Sitecore.Support.EmailCampaign.Cm.Pipelines.SendEmail.ModifySenderHeader, Sitecore.Support.328606" resolve="true" 
               patch:after="processor[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm']" /> 
          </SendEmail>
      </pipelines>
  </sitecore>
</configuration>